
.wrapper {
    background-color: lightgray;
    width: 270px;
}

h3 {
    font-size: 21px;
}

#trump-pic img {
    width: 255px;
    padding-top: 5px;
    margin-bottom: -24px;
}

.box {
    background-color: #003b73;
    width: 250px;
    margin-bottom: -5px;
    color: white;
    padding-left: 5px;
    padding-top: -15px;
    padding-bottom: 20px;
    

}

.orange {
    color: #f56642;
}

.dot1 {
    height: 20px;
    width: 20px;
    background-color: #f56642;
    border-radius: 50%;
    /* display: inline-block; */
    float: left;
}

.dot2 {
    height: 20px;
    width: 20px;
    background-color: #f56642;
    border-radius: 50%;
    /* display: inline-block; */
    float: left;
}