body {
    color: #4A4A4A;
    font-family: 'Montserrat', sans-serif

}

/* ===== HEAD SECTION ===== */

.header {
    margin: 10px;
    padding: 8px 48px 0px 48px;
}

#logo img {
    width: 100px;
    height: 50px;    
}

#search input {
    width: 700px;
    height: 38px;
    text-align: right;    
}
 
.sell-btn button {
    color: #4a4a4a;
    background-color: white;
    /* border-color: #6c757d; */
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    height: 29px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #4A4A4A;
    border-radius: 2px;
}

.sell-btn button:hover {
    color: #ffffff;
    background-color: #3B8838;
    border-color: white;
}

.sell-btn button:active {
    color: tomato;
}

#btn-login ul {
    list-style: none;
    margin-top: 5px;
    margin-left: -70px;   
}

#btn-login a {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: #4A4A4A;
    font-size: 13px;
    font-weight: 600;    
}

/* ===== NAVBAR ===== */
#my-navbar {
    margin-top: 50px;    
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}

#menu a {
    color: #4a4a4a;
    font-size: 12px;
    text-transform: uppercase;
}

#breadcumb {
    margin-top: 40px;
    margin-left: 63px;
}
#breadcumb nav #list-bread {
    background-color: white;
}
#breadcumb nav #list-bread a{
    color: #4a4a4a;
    font-size: 12px;
}

/* ===== PRODUCT ===== */
.img {
    background-color: tomato;
}